@media screen and (max-width: 375px) {
	.container {
		row-gap: 100px;
		justify-content: flex-start;
		margin-top: 40px;
		row-gap: 108px;

		> h1 {
			text-align: center;
			width: 330px;
			transform: translateY(51px);
			font-size: 1.7rem;
			letter-spacing: 0.7rem;
		}
	}

	.timer-container {
		column-gap: 1.3rem;
	}

	img[alt='hills'] {
		left: -120%;
		z-index: -99999;
		width: 230vw;
	}

	.timer {
		width: 70px;
		height: 64.4px;
	}

	.black-dot {
		&::before {
			transform: translateX(63px);
		}
	}

	.timer-display {
		font-size: 3.4rem;
		margin-top: -37px;
	}

	.timer-text {
		font-size: 0.77rem;
		letter-spacing: 0.34rem;
		transform: translateY(1.2rem);
	}
}
